.authContainer{
    background-image: url("https://img.pikbest.com/wp/202346/growth-graph-visualizing-golden-cryptocurrency-bitcoin-coins-in-a-3d-rendered-concept-with-an-upward-pointing_9730161.jpg!w700wp")  !important; 
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
